html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 16px;
  background: white;
  color: rgb(72, 72, 72);
}

header {
  position: relative;
  height: 50%;
  min-height: 400px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

hgroup {
  position: relative;
}

#draw {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.4;
}

.signup {
  background: #73c6e5;
  color: white;
  padding: 16px;
  line-height: 32px;
  text-align: center;
}

.signup h3 {
  font-weight: normal;
}

.signup a {
  color: white;
}

.thanks {
  display: none;
}

.success {
  background: #66cc70;
  color: white;
}

.success h3 {
  display: none;
}

.success .thanks {
  display: block;
}

.content {
  margin: 0 auto;
  padding: 60px;
  max-width: 600px;
}

.example {
  padding: 40px;
  background: #2C303B;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  margin: 0 auto;
  padding: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pricing {
  margin: 0 auto;
  padding: 60px;
  max-width: 800px;
}

.pricing h2 {
  margin-bottom: 24px;
}

.pricing .plans {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
}

.pricing .plans .plan {
  width: 25%;
  padding: 0 36px;
  border-right: 1px solid #e8e8e8;
}

.pricing .plans .plan:first-child {
  padding-left: 0;
}

.pricing .plans .plan:last-child {
  border-right: none;
  padding-right: 0;
}

.pricing .price {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 12px;
}

.pricing ul.features {
  list-style: none;
  margin: 0;
  padding: 0;
}

.pricing ul.features li {
  line-height: 24px;
}

.pricing .title {
  margin-bottom: 12px;
  text-transform: uppercase;
}

.pricing .free {
  margin-top: 24px;
}

footer {
  border-top: 1px solid #e8e8e8;
  background: #efefef;
  color: rgb(128, 128, 128);
  padding: 24px;
  text-align: center;
}

code {
  display: block;
  background: #efefef;
  border: 1px solid #e8e8e8;
  padding: 4px 8px;
  border-radius: 2px;
  font-family: 'Roboto Mono';
  font-size: 0.8em;
}

h1, h2, h3, h4 {
  margin: 0;
  font-weight: 300;
}

h1 {
  font-size: 44px;
}

h2 {
  font-size: 24px;
  color: rgb(128, 128, 128);
}

h3 {
  font-size: 20px;
  font-weight: bold;
}

h4 {
  font-size: 18px;
  margin-bottom: 18px;
  font-weight: bold;
}

p {
  margin: 0 0 20px;
}

a {
  color: rgb(72, 72, 72);
}

@media (max-width: 800px) {
  body {
    font-size: 14px;
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 16px;
    margin-bottom: 14px;
  }
}
