/*['#66cc70', '#73c6e5', '#e573b6', '#e5e073', '#e5ac73']*/
html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  background: white;
  color: rgb(72, 72, 72);
}

main {
  min-height: 85vh;
  text-align: center;
}

footer {
  text-align: right;
  padding-bottom: 20px;
}

h1 {
  margin-top: 25vh;
}

a {
  color: #3F94FF;
}

a:hover {
  color: #117CF2;
  text-decoration: none;
}

code {
  display: block;
  background: #efefef;
  border: 1px solid #e8e8e8;
  padding: 4px 8px;
  border-radius: 2px;
  font-family: 'Roboto Mono';
  font-size: 0.8em;
}

#draw {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.8;
  background: url('../images/boids2.jpg');
  background-size: cover;
}

.jumbotron {
  background-color: transparent;
  position: relative;
  border-bottom: 1px solid #efefef;
}

.container {
  position: relative;
}

#signup {
  margin-top: 45px;
}

#signup-link {
  background-color: #3F94FF;
  color: #fff;
  padding: 12px 24px;
  font-weight: lighter;
}

#signup-link:hover {
  background-color: #117CF2;
}

#signup-link a:hover {
  color: #fff;
  text-decoration: none;
}

.thanks {
  display: none;
}

.success h3 {
  display: none;
}

.success .thanks {
  display: block;
}

#pricing {
  text-align: center;
}

#pricing h2 {
  margin-top: 0;
}

#pricing .plan {
  margin-top: 36px;
  margin-bottom: 36px;
}

#pricing .price {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 12px;
}

#pricing ul.details {
  list-style: none;
  margin: 0;
  padding: 0;
}

#pricing .free {
  margin-top: 24px;
}

img {
  height: 60px;
  display: block;
}

#features .feature {
  clear: both;
}

#features img {
  float: left;
  height: 60px;
  margin: 10px 30px 30px 0;
}

#info img {
  margin: 35px 30px 30px 0;
  float: left;
}

#pricing img {
  margin: 0 auto;
}
